# Python specific
*.pyc
__pycache__/
*.pyo
*.pyd

# Django specific
*.log
db.sqlite3
media/

# Migrations stuff

# Development and IDE specific
.vscode/
.idea/

# System specific (e.g., macOS)
.DS_Store

# Environment and dependency files
/virtualenv/
virtualenv/
.virtualenv/
*virtualenv*

/venv
venv/
env/
.venv
/.venv
*.env
*.env.*
.azure
